<div class="col-md-12 pad">


<div class="col-md-4">
	<a href='#/add'>
	<div class="thumbnail tile tile-medium tile-teal pad">
			<i class="fa fa-file fa-6" aria-hidden="true" style="color: white; font-size: 7em"></i>
			<h1>Add MoM</h1>
	</div>
	</a>
</div>



<div class="col-md-4">
	<a href="#/list">
	<div class="thumbnail tile tile-medium tile-teal pad">
			<i class="fa fa-list-ul" aria-hidden="true" style="color: white; font-size: 7em"></i>
			<h1>List MoM</h1>
	</div>
	</a>
</div>

<div class="col-md-4">
	<a href="#/edit">
	<div class="thumbnail tile tile-medium tile-teal pad">
			<i class="fa fa-pencil-square-o fa-6" aria-hidden="true" style="color: white; font-size: 7em""></i>
			<h1>Edit MoM</h1>
	</div>
	</a>
</div>

</div>